/*-- CSS File for FILM CLUB Project --*/


/*-----Color Scheme
text: #0B1942
inline link: #00B7D3
h2 background: #0B1942
h2 color: #FFFFFF
logo background: #F5005B
navigation background: #7DDFE8
navigation link color: #FFFFFF
"Home" nav link background: #00A5BF
"Calendar" nav link background: #00B7D3
"Join" nav link background: #00D5E7
"Up Next" background: #0B1942
"Up Next" card background #E2E2E2
calendar background and treatments: #0B1942
calendar highlighted day: #F5005B
button background: #F5005B
copyright text: #FFFFFF
--------------------------------------------*/

* {
box-sizing: border-box;
margin: 0 auto;
}

img {
  max-width: 100%;
}

a, p, h1, h2, h3, h4, h5, h6, ul, li, span, label, button {
  font-family: 'PT Sans';
  color: #0B1942;
  font-weight: 300;
}

a, button {
  cursor: pointer;
}

p, li {
  font-size: 0.85rem;
}

p {
  line-height: 150%;
}

/*li {
  font-size: 0.75rem;
}*/

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: center;
  max-height: 10%;
  /*min-height: 15vw;*/
}

/*--Top Nav Bar---*/

.header-img-box {
  margin: 0;
  background-color: #F5005B;
  flex-basis: 25%;
  padding: 2%;
  height: 100%;
}

.header-img-box img {
  width: auto;
  max-height: 20vh;
}


#top-nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-basis: 75%;
  width: 100%;
}

#top-nav-bar .nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 2% 0%;
  width: 100%;
  height: 100%;
}


.nav-link {
  text-decoration: none;
  color: #FFFFFF;
  width: 100%;
  height: auto;
  text-align: center;
}

#home-link {
  background-color: #00A5BF;
  /*width: 100%;*/
}

#calendar-link {
  background-color: #00B7D3;
  /*width: 100%;*/
}

#join-link {
  background-color: #00D5E7;
  /*width: 100%;*/
}

/*--Home "Get Involved" Section---*/

h1 {
  padding-bottom: 2%;
}

.section-top {
  padding: 4%;
}

.section-top {
  background-color: #FFFFFF;
}

.section-top h2 {
  padding: 1% 4%;
}

.section-top p {
  padding: 2% 0%;
}

.get-involved-title {
  background-color: #0B1942;
}

.get-involved-title h2 {
  color: #FFFFFF;
}

/*--Home "Up Next" Section---*/

.section-bottom {
  background-color: #0B1942;
}

.section-bottom h1 {
  color: #FFFFFF;
  padding: 0% 4%;
}

.next-film, .upcoming-film {
  background-color: #E2E2E2;
  padding: 2%;
}

.film-layout {
  padding: 4%;
}

.next-film {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  margin: 5% 0%;
}

.next-film h5 {
  color: #0B1942;
}

.next-film-img, .next-film-info {
  flex-basis: 45%;
}

.next-film-title {
  padding: 2% 0% 6% 0%;
}

.next-film-title h3 {
  padding-bottom: 4%;
}

.next-film-title a {
  color: #00B7D3;
}

.next-film-themes {
  border-top: 1px solid #0B1942;
  padding: 4% 0% 0% 0%;
}

.next-film-themes ul, li {
  list-style: circle;
  margin: 4% 0% 0% 7%;
  padding: 0;
}

.next-film-themes h5 {
  font-weight: 600;
}

.upcoming-film {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  padding: 4% 0%;
  margin: 3% 0%;
}

.upcoming-film-box {
  flex-basis: 40%;
  padding-bottom: 4%;
}

.upcoming-film-box a, p, span {
  font-size: 0.75rem;
}

.upcoming-film-title a {
  color: #00B7D3;
}

.film-date {
  font-weight: bold;
}

/*--Footer---*/

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

#bottom-nav-bar {
  /*flex-basis: 60%;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
}

#bottom-nav-bar .nav-link {
  /*flex-basis: 33.33%;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding: 4%;
}

.legal-footer {
  background-color: #7DDFE8;
  text-align: center;
  /*flex-basis: 40%;*/
  padding: 7%;
  width: 100%;
}

.legal-footer p {
  color: #FFFFFF;
}


/*-------------------CALENDAR PAGE------------------------*/

/*--Calendar Bottom Section---*/
.section-bottom h1 {
  padding-top: 5%;
}

.section-bottom h5 {
  color: #FFFFFF;
}

.section-bottom {
  margin: 0%;
  padding: 0%;
}

.calendar {
  margin: 0%;
  padding: 4% 0%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; /*consider adjust*/
  align-content: flex-start;
}

.day {
  /*margin: 0.25%*/
  margin: 0.75% 0% 0%;
  flex-basis: 13.5%;
  min-height: 15vw;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.date-number {
  min-width: 7vw;
  /*flex-basis: 50%;*/
  margin: 0%;
  padding: 5%;
  background-color: #0B1942;
  text-align: center;
}

.show-day {
  background-color: #F5005B;
}

.blank-day {
  background-color: #0B1942;
}


/*-------------------JOIN PAGE------------------------*/

.join-form p {
  padding: 0%;
}

input {
  width: 100%;
  font-size: 0.8em;
}

.genre-choice input {
  width: auto;
}

.name-info, .email-info, .first-password, .second-password {
  padding-bottom: 4%;
}

.pic-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 3%;
}

.pic-info-text {
    margin: 0;
    width: 100%;
    text-align: left;
}

.pic-info img {
  max-height: 50vh;
  padding: 2%;
  border-radius: 50%;
}

.profile-genre {
  padding: 4% 0% 0% 0%;
}

.profile-genre p {
  padding: 1.5% 0%;
}

.genre-category {
  padding: 0.5% 0%;
}

.profile-adds {
  padding: 7% 0% 0% 0%;
}

.additional-title {
  padding: 1% 0%;
}

.profile-adds textarea {
  width: 100%;
}

.join-button {
  padding: 5% 0%;
}

label {
  font-size: 0.8em;
}

button {
  background-color: #F5005B;
  color: white;
  width: 35%;
  border: none;
  padding: 3%;
  font-weight: 500;
  font-size: 0.75em;
}
/*------------------------------------------------------*/


/*-------Tablet Display-------*/

@media screen and ( min-width: 545px ) {

  /*----HOME PAGE----*/

  p, li {
    font-size: 0.85rem;
  }

  /*li {
    font-size: 0.75rem;
  }*/

  h1 {
    font-size: 2em;
  }

  /*--Top Nav Bar---*/
  header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
  }

  .header-img-box {
    margin: 0;
    background-color: #F5005B;
    flex-basis: 15%;
    padding: 1%;
  }

  .header-img-box img {
    width: auto;
    max-height: 15vh;
  }

  #top-nav-bar {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    background-color: #7DDFE8;
  }

  #top-nav-bar .nav-link {
    flex-basis: 15%;
  }

  .gap {
    flex-basis: 55%;
  }

  /*--Home "Get Involved" Section---*/
  .get-involved-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
  }

  .get-involved-chunk {
    flex: 1;
  }

  #take-notes {
    margin: 0% 3%;
  }

  /*--Home "Up Next" Section---*/
  .upcoming-film {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 2% 0%;
  }

  .upcoming-film-box {
    flex-basis: 20%;
    padding-bottom: 4%;
  }

  .next-film-themes ul, li {
    margin: 4% 0% 0% 5%;
  }

  .upcoming-film-box a, span {
    font-size: .8em;
  }

  /*--Footer---*/
  footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    width: 100%;
  }

  #bottom-nav-bar {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    align-content: center;
    width: 100%;
  }

  #bottom-nav-bar .nav-link {
    width: 100%;
    padding: 2%;
  }

  .legal-footer {
    background-color: #7DDFE8;
    text-align: right;
    /*flex-basis: 40%;*/
    padding: 4%;
    width: 100%;
    color: white;
  }


  /*----CALENDAR PAGE----*/

  .day {
    /*margin: 0.25%*/
    margin: 0.6% 0% 0%;
    flex-basis: 13.8%;
  }

  .date-number {
    min-width: 4vw;
    /*flex-basis: 50%;*/
    margin: 0%;
    padding: 5%;
  }



  /*----JOIN PAGE----*/
  .profile-basic {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: stretch;
  }

  .pic-info img {
    width: auto;
    max-height: 35vh;
  }

  .pic-info {
    flex-basis: 50%;
  }

  .name-email-and-password {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: stretch;
  }

  .name-email, .password-and-confirm {
    width: 100%;
  }

  .genre-choice {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;

  }

  .genre-category {
    flex-basis: 50%;
    text-align: left;
  }

  button {
    width: 25%;
  }

}




/*-------Desktop Display-------*/

@media screen and ( min-width: 769px ) {

  /*----HOME PAGE----*/

  p, li {
    font-size: 0.85rem;
  }

  body {
    margin: 0% 4%;
    background-color: black;
  }

  .header-img-box {
    flex-basis: 10%;
  }

  .gap {
    flex-basis: 70%;
  }

  .film-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
  }

  .next-film {
    margin: 0% 2% 0% 0%;
    flex: 1;
  }

  .next-film-themes ul, li {
    margin: 4% 0% 0% 7%;
  }

  .upcoming-film {
    flex: 1;
    margin-left: 2%;
  }

  .upcoming-film-box {
    flex-basis: 40%;
    padding-bottom: 4%;
  }

  .upcoming-film-box a, span {
    font-size: .85em;
  }

  #bottom-nav-bar {
    flex-basis: 40%;
  }


  /*----CALENDAR PAGE----*/

  .day {
    /*margin: 0.25%*/
    margin: 0.6% 0% 0%;
    flex-basis: 13.8%;
  }

  .date-number {
    min-width: 3vw;
    /*flex-basis: 50%;*/
    margin: 0%;
    padding: 2%;

  }


  /*----JOIN PAGE----*/

  p, label {
    font-size: 0.9em;
  }

  .profile-basic {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
  }

  .pic-info img {
    width: auto;
    max-height: 35vh;
  }

  .pic-info {
    flex-basis: 33.33%;
  }

  .name-email-and-password {
    flex-basis: 66.66%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: flex-start;
  }

  .name-email {
    margin-right: 2%;
  }

  .password-and-confirm {
    margin-left: 2%;
  }

  .genre-category {
    flex-basis: 33.33%;
    text-align: left;
    padding: 0.5% 0%;
  }

  .profile-adds textarea {
    width: 75%;
  }

  button {
    width: 25%;
    font-size: 0.9em;
  }

}
